body{
    text-align: center;
    margin-top: 200px;
    background-color:rgb(240, 238, 234);
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
#box{
    border: 1px solid black;
    height: 300px;
    width: 450px;
    background-color:wheat;
    margin-left: 550px;
    padding: 15px;
}

#box input{
    padding:10px;
    margin:10px;
    width:300px;
    border-radius: 10px;
    
}

#box button{
    height: auto;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;

}
h3{
    color: aqua;
}