ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: blue; */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    padding: 24px 16px;
    /* margin-right:20px; */
    
    text-decoration: none;
  }
  li a button{
    height: auto;
    padding: 3px;
    font-weight: bold;
  }
  #homeimg , #homeimg1 {
    height:40px ;
    width:40px;
    /* padding-top: 0; */
  }
  #hometext{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #add {
    width:100%;
    height:450px;
  }
  
  /* .imageholder{
    width:100%;
    height:500px;
  } */
  
  #footer-part{
    overflow: hidden;
    margin: 0;
    padding: 20px;
    background-color: crimson;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  